# Wrangle WeRateDogs Data

This document contains the code that was used to wrangle the data for the Wrangle and Analyze Data project. I've divided the document into three sections corresponding to a step in the data wrangling process as outlined in the lessons:

 - Gather
 - Assess
 - Clean

## Gather

Here I begin the process of wrangling by gathering the required data. The only data that I didn't have to obtain elsewhere are the data contained in the file "twitter-archive-enhanced.csv" which was provided to me.

In [1]:
# Load all of the necessary libararies
import tweepy
import pandas as pd
import numpy as np
import os
import requests
import json
import collections
import functools

In [2]:
# Start by loading the twitter-archive-enhanced.csv file into a dataframe
tweet_data_archived = pd.read_csv('twitter-archive-enhanced.csv')

In [3]:
# Retrieve image-predictions.tsv file
image_pred_url = 'https://d17h27t6h515a5.cloudfront.net/topher/2017/August/599fd2ad_image-predictions/image-predictions.tsv'
with open('image-predictions.tsv', 'wb') as image_pred_file:
    image_pred_gathered = requests.get(image_pred_url)
    image_pred_file.write(image_pred_gathered.content)

# Load image prediction data into a dataframe
tweet_image_pred = pd.read_csv('image-predictions.tsv', delim_whitespace=True)

A brief note on the code below. This code can be run but since the file containing the api keys isn't included in the project submission for security reasons, the code is presented here for review purposes only. A reviewer is free to try this code using his/her own API keys. In order to include the API keys in the code, create a file called `credentials.py` with the following variables:
 - `consumer_key`: consumer API key
 - `consumer_secret`: consumer API secret key
 - `access_token`: access token
 - `access_token_secret`: access token secret

From this point on, assume that this code has been run and the file containing the gathered data is present in the current working directory.

In [ ]:
# Code for retrieving tweet data for each of the tweet ids contained in the WeRateDogs twitter
# archive.
import credentials as cred

# Create tweepy api object
auth = tweepy.OAuthHandler(cred.consumer_key, cred.consumer_secret)
auth.set_access_token(cred.access_token, cred.access_token_secret)
api = tweepy.API(auth, wait_on_rate_limit=True, wait_on_rate_limit_notify=True)

# Get all of the tweet data for each tweet id
tweet_ids = pd.read_csv('twitter-archive-enhanced.csv').tweet_id.astype(str).tolist()
with open('tweet_json.txt', 'w') as tweet_data_file:
    for tweet_id in tweet_ids:
        try:
            tweet_data = api.get_status(tweet_id, tweet_mode='extended')
        except tweepy.TweepError:
            pass
        else:
            tweet_data_file.write(json.dumps(tweet_data._json) + '\n')
            print('Retrieved data for tweet id: {}'.format(tweet_id))
print('Retrieved data for all tweet ids.')

In [4]:
# Create a dataframe from the tweet data that we just retrieved.
tweet_data = []
with open('tweet_json.txt') as data_file:
    for json_obj in data_file:
        tweet_data_sub = collections.OrderedDict()
        tweet_data_all = json.loads(json_obj)

        # Get all of the data we're interested in
        tweet_data_sub['tweet_id'] = tweet_data_all['id']
        tweet_data_sub['retweet_count'] = tweet_data_all['retweet_count']
        tweet_data_sub['favorite_count'] = tweet_data_all['favorite_count']

        # Append it to the data gathering list
        tweet_data.append(tweet_data_sub)

# Create a dataframe from the data
tweet_data_extra = pd.DataFrame(tweet_data)

The data has now been loaded into the following dataframes:
 - `tweet_data_archived`: contains data about the archived WeRateDogs tweets.
 - `tweet_data_extra`: contains additional data about the WeRateDogs tweets gathered from Twitter.
 - `tweet_image_pred`: contains the prediction results of a machine learning algorithm trained on a sample of the images from the tweets in the WeRateDogs archive.

## Assess

With the data in hand I can now assess the data for potential quality and structural issues starting with visual assessment.

### Dataframe contents for visual assessment

In [5]:
# Display the twitter archive dataframe
tweet_data_archived

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,None,None,None
3,891689557279858688,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,None,None,None,None
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,None,None,None,None
5,891087950875897856,NaN,NaN,2017-07-29 00:08:17 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a majestic great white breaching ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891087950...,13,10,None,None,None,None,None
6,890971913173991426,NaN,NaN,2017-07-28 16:27:12 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Meet Jax. He enjoys ice cream so much he gets ...,NaN,NaN,NaN,"https://gofundme.com/ydvmve-surgery-for-jax,ht...",13,10,Jax,None,None,None,None
7,890729181411237888,NaN,NaN,2017-07-28 00:22:40 +0000,"<a href=""http://twitter.com/download/iphone"" r...",When you watch your owner call another dog a g...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/890729181...,13,10,None,None,None,None,None
8,890609185150312448,NaN,NaN,2017-07-27 16:25:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Zoey. She doesn't want to be one of th...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/890609185...,13,10,Zoey,None,None,None,None
9,890240255349198849,NaN,NaN,2017-07-26 15:59:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Cassie. She is a college pup. Studying...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/890240255...,14,10,Cassie,doggo,None,None,None
10,890006608113172480,NaN,NaN,2017-07-26 00:31:25 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Koda. He is a South Australian decksha...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/890006608...,13,10,Koda,None,None,None,None
11,889880896479866881,NaN,NaN,2017-07-25 16:11:53 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Bruno. He is a service shark. Only get...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/889880896...,13,10,Bruno,None,None,None,None
12,889665388333682689,NaN,NaN,2017-07-25 01:55:32 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here's a puppo that seems to be on the fence a...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/889665388...,13,10,None,None,None,None,puppo
13,889638837579907072,NaN,NaN,2017-07-25 00:10:02 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Ted. He does his best. Sometimes that'...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/889638837...,12,10,Ted,None,None,None,None
14,889531135344209921,NaN,NaN,2017-07-24 17:02:04 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Stuart. He's sporting his favorite fan...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/889531135...,13,10,Stuart,None,None,None,puppo
15,889278841981685760,NaN,NaN,2017-07-24 00:19:32 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Oliver. You're witnessing one of his m...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/889278841...,13,10,Oliver,None,None,None,None
16,888917238123831296,NaN,NaN,2017-07-23 00:22:39 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Jim. He found a fren. Taught him how t...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/888917238...,12,10,Jim,None,None,None,None
17,888804989199671297,NaN,NaN,2017-07-22 16:56:37 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Zeke. He has a new stick. Very proud o...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/888804989...,13,10,Zeke,None,None,None,None
18,888554962724278272,NaN,NaN,2017-07-22 00:23:06 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Ralphus. He's powering up. Attempting ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/888554962...,13,10,Ralphus,None,None,None,None
19,888202515573088257,NaN,NaN,2017-07-21 01:02:36 +0000,"<a href=""http://twitter.com/download/iphone"" r...",RT @dog_rates: This is Canela. She attempted s...,8.874740e+17,4.196984e+09,2017-07-19 00:47:34 +0000,https://twitter.com/dog_rates/status/887473957...,13,10,Canela,None,None,None,None
20,888078434458587136,NaN,NaN,2017-07-20 16:49:33 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Gerald. He was just told he didn't get...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/888078434...,12,10,Gerald,None,None,None,None
21,887705289381826560,NaN,NaN,2017-07-19 16:06:48 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Jeffrey. He has a monopoly on the pool...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/887705289...,13,10,Jeffrey,None,None,None,None
22,887517139158093824,NaN,NaN,2017-07-19 03:39:09 +0000,"<a href=""http://twitter.com/download/iphone"" r...",I've yet to rate a Venezuelan Hover Wiener. Th...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/887517139...,14,10,such,None,None,None,None
23,887473957103951883,NaN,NaN,2017-07-19 00:47:34 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Canela. She attempted some fancy porch...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/887473957...,13,10,Canela,None,None,None,None
24,887343217045368832,NaN,NaN,2017-07-18 16:08:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",You may not have known you needed to see this ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/887343217...,13,10,None,None,None,None,None
25,887101392804085760,NaN,NaN,2017-07-18 00:07:08 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This... is a Jubilant Antarctic House Bear. We...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/887101392...,12,10,None,None,None,None,None
26,886983233522544640,NaN,NaN,2017-07-17 16:17:36 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Maya. She's very shy. Rarely leaves he...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/886983233...,13,10,Maya,None,None,None,None
27,886736880519319552,NaN,NaN,2017-07-16 23:58:41 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Mingus. He's a wonderful father to his...,NaN,NaN,NaN,"https://www.gofundme.com/mingusneedsus,https:/...",13,10,Mingus,None,None,None,None
28,886680336477933568,NaN,NaN,2017-07-16 20:14:00 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Derek. He's late for a dog meeting. 13...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/886680336...,13,10,Derek,None,None,None,None
29,886366144734445568,NaN,NaN,2017-07-15 23:25:31 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Roscoe. Another pupper fallen victim t...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/886366144...,12,10,Roscoe,None,None,pupper,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2326,666411507551481857,NaN,NaN,2015-11-17 00:24:19 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is quite the dog. Gets really excited whe...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666411507...,2,10,quite,None,None,None,None
2327,666407126856765440,NaN,NaN,2015-11-17 00:06:54 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a southern Vesuvius bumblegruff. Can d...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666407126...,7,10,a,None,None,None,None
2328,666396247373291520,NaN,NaN,2015-11-16 23:23:41 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Oh goodness. A super rare northeast Qdoba kang...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666396247...,9,10,None,None,None,None,None
2329,666373753744588802,NaN,NaN,2015-11-16 21:54:18 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Those are sunglasses and a jean jacket. 11/10 ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666373753...,11,10,None,None,None,None,None
2330,666362758909284353,NaN,NaN,2015-11-16 21:10:36 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Unique dog here. Very small. Lives in containe...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666362758...,6,10,None,None,None,None,None
2331,666353288456101888,NaN,NaN,2015-11-16 20:32:58 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a mixed Asiago from the Gal√°pagos...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666353288...,8,10,None,None,None,None,None
2332,666345417576210432,NaN,NaN,2015-11-16 20:01:42 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Look at this jokester thinking seat belt laws ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666345417...,10,10,None,None,None,None,None
2333,666337882303524864,NaN,NaN,2015-11-16 19:31:45 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is an extremely rare horned Parthenon. No...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666337882...,9,10,an,None,None,None,None
2334,666293911632134144,NaN,NaN,2015-11-16 16:37:02 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a funny dog. Weird toes. Won't come do...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666293911...,3,10,a,None,None,None,None
2335,666287406224695296,NaN,NaN,2015-11-16 16:11:11 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is an Albanian 3 1/2 legged Episcopalian...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666287406...,1,2,an,None,None,None,None
2336,666273097616637952,NaN,NaN,2015-11-16 15:14:19 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Can take selfies 11/10 https://t.co/ws2AMaNwPW,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666273097...,11,10,None,None,None,None,None
2337,666268910803644416,NaN,NaN,2015-11-16 14:57:41 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Very concerned about fellow dog trapped in com...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666268910...,10,10,None,None,None,None,None
2338,666104133288665088,NaN,NaN,2015-11-16 04:02:55 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Not familiar with this breed. No tail (weird)....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666104133...,1,10,None,None,None,None,None
2339,666102155909144576,NaN,NaN,2015-11-16 03:55:04 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Oh my. Here you are seeing an Adobe Setter giv...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666102155...,11,10,None,None,None,None,None
2340,666099513787052032,NaN,NaN,2015-11-16 03:44:34 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Can stand on stump for what seems like a while...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666099513...,8,10,None,None,None,None,None
2341,666094000022159362,NaN,NaN,2015-11-16 03:22:39 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This appears to be a Mongolian Presbyterian mi...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666094000...,9,10,None,None,None,None,None
2342,666082916733198337,NaN,NaN,2015-11-16 02:38:37 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a well-established sunblockerspan...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666082916...,6,10,None,None,None,None,None
2343,666073100786774016,NaN,NaN,2015-11-16 01:59:36 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Let's hope this flight isn't Malaysian (lol). ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666073100...,10,10,None,None,None,None,None
2344,666071193221509120,NaN,NaN,2015-11-16 01:52:02 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a northern speckled Rhododendron....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666071193...,9,10,None,None,None,None,None
2345,666063827256086533,NaN,NaN,2015-11-16 01:22:45 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is the happiest dog you will ever see. Ve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666063827...,10,10,the,None,None,None,None
2346,666058600524156928,NaN,NaN,2015-11-16 01:01:59 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here is the Rand Paul of retrievers folks! He'...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666058600...,8,10,the,None,None,None,None
2347,666057090499244032,NaN,NaN,2015-11-16 00:55:59 +0000,"<a href=""http://twitter.com/download/iphone"" r...",My oh my. This is a rare blond Canadian terrie...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666057090...,9,10,a,None,None,None,None
2348,666055525042405380,NaN,NaN,2015-11-16 00:49:46 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here is a Siberian heavily armored polar bear ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666055525...,10,10,a,None,None,None,None
2349,666051853826850816,NaN,NaN,2015-11-16 00:35:11 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is an odd dog. Hard on the outside but lo...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666051853...,2,10,an,None,None,None,None
2350,666050758794694657,NaN,NaN,2015-11-16 00:30:50 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a truly beautiful English Wilson Staff...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666050758...,10,10,a,None,None,None,None
2351,666049248165822465,NaN,NaN,2015-11-16 00:24:50 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a 1949 1st generation vulpix. Enj...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666049248...,5,10,None,None,None,None,None
2352,666044226329800704,NaN,NaN,2015-11-16 00:04:52 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a purebred Piers Morgan. Loves to Netf...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666044226...,6,10,a,None,None,None,None
2353,666033412701032449,NaN,NaN,2015-11-15 23:21:54 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here is a very happy pup. Big fan of well-main...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666033412...,9,10,a,None,None,None,None
2354,666029285002620928,NaN,NaN,2015-11-15 23:05:30 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a western brown Mitsubishi terrier. Up...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666029285...,7,10,a,None,None,None,None
2355,666020888022790149,NaN,NaN,2015-11-15 22:32:08 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a Japanese Irish Setter. Lost eye...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666020888...,8,10,None,None,None,None,None

##### `tweet_data_archived` quality issues

Without even scrolling down, I can see an issue in the `source` column. There appear to be HTML tags surrounding the name of the device from which the tweet was made. Looking at the links in the tags, it seems that the tags would direct a user to download the user to the Twitter website to download the version of the app compatible with the device being used. This extra text isn't relevant to the information that I expect from this column which is the device used to send the tweet.

Scrolling around a bit, I can see that in the `name` column there are two issues. The first issue is that missing names are encoded as the string 'None'. This is slightly misleading and a potential source of confusion as some of the pandas methods used to detect missing values will report no missing values if called on this column and other methods used to assess data may give strange results. It would be better to just leave the missing names blank and write code deal with them appropriately later on when displaying this data or performing analyses on it. The second issue is that there appear to be words that are clearly not names in this column.

##### Quality issues summary
 - HTML tags in `source`
 - `name` contains words that are clearly not names
 - Missing data in `name` encoded as the string 'None'

##### `tweet_data_archived` tidiness issues

There are four columns in this dataframe indicating the type of dog depicted in the tweets with the following categories: `doggo`, `floofer`, `pupper`, and `puppo`. These columns can actually be combined into a single column, `dog_types`, with five categories: the four categories mentioned previously plus an additional `none` or `NA` category for the tweets that fail to mention a type of dog.

##### Tidiness issues summary
 - One variable, the type of dog (e.g. `puppo`), spread over four columns

In [6]:
# Display the supplementary data dataframe
tweet_data_extra

                tweet_id  retweet_count  favorite_count
0     892420643555336193           8426           38368
1     892177421306343426           6208           32881
2     891815181378084864           4107           24776
3     891689557279858688           8542           41710
4     891327558926688256           9280           39884
5     891087950875897856           3076           20018
6     890971913173991426           2044           11717
7     890729181411237888          18686           64781
8     890609185150312448           4220           27530
9     890240255349198849           7318           31592
10    890006608113172480           7257           30342
11    889880896479866881           4925           27499
12    889665388333682689           9957           47618
13    889638837579907072           4493           26884
14    889531135344209921           2212           14940
15    889278841981685760           5362           25037
16    888917238123831296           4451           28791
17    888804989199671297           4277           25325
18    888554962724278272           3538           19675
19    888078434458587136           3461           21529
20    887705289381826560           5331           29844
21    887517139158093824          11543           45770
22    887473957103951883          18012           68378
23    887343217045368832          10297           33325
24    887101392804085760           5902           30238
25    886983233522544640           7699           34794
26    886736880519319552           3256           11929
27    886680336477933568           4417           22191
28    886366144734445568           3167           20970
29    886267009285017600              4             115
...                  ...            ...             ...
2310  666411507551481857            324             441
2311  666407126856765440             40             108
2312  666396247373291520             84             167
2313  666373753744588802             92             187
2314  666362758909284353            566             774
2315  666353288456101888             72             219
2316  666345417576210432            135             293
2317  666337882303524864             90             197
2318  666293911632134144            352             498
2319  666287406224695296             64             146
2320  666273097616637952             76             174
2321  666268910803644416             35             102
2322  666104133288665088           6530           14222
2323  666102155909144576             12              80
2324  666099513787052032             67             153
2325  666094000022159362             73             163
2326  666082916733198337             44             117
2327  666073100786774016            163             320
2328  666071193221509120             60             146
2329  666063827256086533            216             471
2330  666058600524156928             57             111
2331  666057090499244032            141             295
2332  666055525042405380            247             433
2333  666051853826850816            843            1209
2334  666050758794694657             59             132
2335  666049248165822465             40             109
2336  666044226329800704            140             298
2337  666033412701032449             44             125
2338  666029285002620928             47             128
2339  666020888022790149            508            2553

[2340 rows x 3 columns]

##### `tweet_data_extra` quality issues

It would appear that there is no invalid data in either the `retweet_count` or `favorite_count` columns. There also doesn't appear to be any missing data in either of the aforementioned columns although in this case missing data would simply indicate a that a particular tweet was not retweeted or liked by other users as stated in the official Twitter documentation on tweet objects. Additionally, there don't seem to be any malformed or missing tweet IDs.

##### `tweet_data_extra` tidiness issues

Since this data is meant to augment the archived tweet data it would be prudent to add the `retweet_count` and `favorite_count` columns to the `tweet_data_archived`

##### Tidiness issues summary
 - `retweet_count` and `favorite_count` should be part of `tweet_data_archived`

In [7]:
# Display the image prediction results dataframe
tweet_image_pred

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh_springer_spaniel,0.465074,True,collie,0.156665,True,Shetland_sheepdog,0.061428,True
1,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,redbone,0.506826,True,miniature_pinscher,0.074192,True,Rhodesian_ridgeback,0.072010,True
2,666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,German_shepherd,0.596461,True,malinois,0.138584,True,bloodhound,0.116197,True
3,666044226329800704,https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg,1,Rhodesian_ridgeback,0.408143,True,redbone,0.360687,True,miniature_pinscher,0.222752,True
4,666049248165822465,https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg,1,miniature_pinscher,0.560311,True,Rottweiler,0.243682,True,Doberman,0.154629,True
5,666050758794694657,https://pbs.twimg.com/media/CT5Jof1WUAEuVxN.jpg,1,Bernese_mountain_dog,0.651137,True,English_springer,0.263788,True,Greater_Swiss_Mountain_dog,0.016199,True
6,666051853826850816,https://pbs.twimg.com/media/CT5KoJ1WoAAJash.jpg,1,box_turtle,0.933012,False,mud_turtle,0.045885,False,terrapin,0.017885,False
7,666055525042405380,https://pbs.twimg.com/media/CT5N9tpXIAAifs1.jpg,1,chow,0.692517,True,Tibetan_mastiff,0.058279,True,fur_coat,0.054449,False
8,666057090499244032,https://pbs.twimg.com/media/CT5PY90WoAAQGLo.jpg,1,shopping_cart,0.962465,False,shopping_basket,0.014594,False,golden_retriever,0.007959,True
9,666058600524156928,https://pbs.twimg.com/media/CT5Qw94XAAA_2dP.jpg,1,miniature_poodle,0.201493,True,komondor,0.192305,True,soft-coated_wheaten_terrier,0.082086,True
10,666063827256086533,https://pbs.twimg.com/media/CT5Vg_wXIAAXfnj.jpg,1,golden_retriever,0.775930,True,Tibetan_mastiff,0.093718,True,Labrador_retriever,0.072427,True
11,666071193221509120,https://pbs.twimg.com/media/CT5cN_3WEAAlOoZ.jpg,1,Gordon_setter,0.503672,True,Yorkshire_terrier,0.174201,True,Pekinese,0.109454,True
12,666073100786774016,https://pbs.twimg.com/media/CT5d9DZXAAALcwe.jpg,1,Walker_hound,0.260857,True,English_foxhound,0.175382,True,Ibizan_hound,0.097471,True
13,666082916733198337,https://pbs.twimg.com/media/CT5m4VGWEAAtKc8.jpg,1,pug,0.489814,True,bull_mastiff,0.404722,True,French_bulldog,0.048960,True
14,666094000022159362,https://pbs.twimg.com/media/CT5w9gUW4AAsBNN.jpg,1,bloodhound,0.195217,True,German_shepherd,0.078260,True,malinois,0.075628,True
15,666099513787052032,https://pbs.twimg.com/media/CT51-JJUEAA6hV8.jpg,1,Lhasa,0.582330,True,Shih-Tzu,0.166192,True,Dandie_Dinmont,0.089688,True
16,666102155909144576,https://pbs.twimg.com/media/CT54YGiWUAEZnoK.jpg,1,English_setter,0.298617,True,Newfoundland,0.149842,True,borzoi,0.133649,True
17,666104133288665088,https://pbs.twimg.com/media/CT56LSZWoAAlJj2.jpg,1,hen,0.965932,False,cock,0.033919,False,partridge,0.000052,False
18,666268910803644416,https://pbs.twimg.com/media/CT8QCd1WEAADXws.jpg,1,desktop_computer,0.086502,False,desk,0.085547,False,bookcase,0.079480,False
19,666273097616637952,https://pbs.twimg.com/media/CT8T1mtUwAA3aqm.jpg,1,Italian_greyhound,0.176053,True,toy_terrier,0.111884,True,basenji,0.111152,True
20,666287406224695296,https://pbs.twimg.com/media/CT8g3BpUEAAuFjg.jpg,1,Maltese_dog,0.857531,True,toy_poodle,0.063064,True,miniature_poodle,0.025581,True
21,666293911632134144,https://pbs.twimg.com/media/CT8mx7KW4AEQu8N.jpg,1,three-toed_sloth,0.914671,False,otter,0.015250,False,great_grey_owl,0.013207,False
22,666337882303524864,https://pbs.twimg.com/media/CT9OwFIWEAMuRje.jpg,1,ox,0.416669,False,Newfoundland,0.278407,True,groenendael,0.102643,True
23,666345417576210432,https://pbs.twimg.com/media/CT9Vn7PWoAA_ZCM.jpg,1,golden_retriever,0.858744,True,Chesapeake_Bay_retriever,0.054787,True,Labrador_retriever,0.014241,True
24,666353288456101888,https://pbs.twimg.com/media/CT9cx0tUEAAhNN_.jpg,1,malamute,0.336874,True,Siberian_husky,0.147655,True,Eskimo_dog,0.093412,True
25,666362758909284353,https://pbs.twimg.com/media/CT9lXGsUcAAyUFt.jpg,1,guinea_pig,0.996496,False,skunk,0.002402,False,hamster,0.000461,False
26,666373753744588802,https://pbs.twimg.com/media/CT9vZEYWUAAlZ05.jpg,1,soft-coated_wheaten_terrier,0.326467,True,Afghan_hound,0.259551,True,briard,0.206803,True
27,666396247373291520,https://pbs.twimg.com/media/CT-D2ZHWIAA3gK1.jpg,1,Chihuahua,0.978108,True,toy_terrier,0.009397,True,papillon,0.004577,True
28,666407126856765440,https://pbs.twimg.com/media/CT-NvwmW4AAugGZ.jpg,1,black-and-tan_coonhound,0.529139,True,bloodhound,0.244220,True,flat-coated_retriever,0.173810,True
29,666411507551481857,https://pbs.twimg.com/media/CT-RugiWIAELEaq.jpg,1,coho,0.404640,False,barracouta,0.271485,False,gar,0.189945,False
...,...,...,...,...,...,...,...,...,...,...,...,...
2045,886366144734445568,https://pbs.twimg.com/media/DE0BTnQUwAApKEH.jpg,1,French_bulldog,0.999201,True,Chihuahua,0.000361,True,Boston_bull,0.000076,True
2046,886680336477933568,https://pbs.twimg.com/media/DE4fEDzWAAAyHMM.jpg,1,convertible,0.738995,False,sports_car,0.139952,False,car_wheel,0.044173,False
2047,886736880519319552,https://pbs.twimg.com/media/DE5Se8FXcAAJFx4.jpg,1,kuvasz,0.309706,True,Great_Pyrenees,0.186136,True,Dandie_Dinmont,0.086346,True
2048,886983233522544640,https://pbs.twimg.com/media/DE8yicJW0AAAvBJ.jpg,2,Chihuahua,0.793469,True,toy_terrier,0.143528,True,can_opener,0.032253,False
2049,887101392804085760,https://pbs.twimg.com/media/DE-eAq6UwAA-jaE.jpg,1,Samoyed,0.733942,True,Eskimo_dog,0.035029,True,Staffordshire_bullterrier,0.029705,True
2050,887343217045368832,https://pbs.twimg.com/ext_tw_video_thumb/88734...,1,Mexican_hairless,0.330741,True,sea_lion,0.275645,False,Weimaraner,0.134203,True
2051,887473957103951883,https://pbs.twimg.com/media/DFDw2tyUQAAAFke.jpg,2,Pembroke,0.809197,True,Rhodesian_ridgeback,0.054950,True,beagle,0.038915,True
2052,887517139158093824,https://pbs.twimg.com/ext_tw_video_thumb/88751...,1,limousine,0.130432,False,tow_truck,0.029175,False,shopping_cart,0.026321,False
2053,887705289381826560,https://pbs.twimg.com/media/DFHDQBbXgAEqY7t.jpg,1,basset,0.821664,True,redbone,0.087582,True,Weimaraner,0.026236,True
2054,888078434458587136,https://pbs.twimg.com/media/DFMWn56WsAAkA7B.jpg,1,French_bulldog,0.995026,True,pug,0.000932,True,bull_mastiff,0.000903,True
2055,888202515573088257,https://pbs.twimg.com/media/DFDw2tyUQAAAFke.jpg,2,Pembroke,0.809197,True,Rhodesian_ridgeback,0.054950,True,beagle,0.038915,True
2056,888554962724278272,https://pbs.twimg.com/media/DFTH_O-UQAACu20.jpg,3,Siberian_husky,0.700377,True,Eskimo_dog,0.166511,True,malamute,0.111411,True
2057,888804989199671297,https://pbs.twimg.com/media/DFWra-3VYAA2piG.jpg,1,golden_retriever,0.469760,True,Labrador_retriever,0.184172,True,English_setter,0.073482,True
2058,888917238123831296,https://pbs.twimg.com/media/DFYRgsOUQAARGhO.jpg,1,golden_retriever,0.714719,True,Tibetan_mastiff,0.120184,True,Labrador_retriever,0.105506,True
2059,889278841981685760,https://pbs.twimg.com/ext_tw_video_thumb/88927...,1,whippet,0.626152,True,borzoi,0.194742,True,Saluki,0.027351,True
2060,889531135344209921,https://pbs.twimg.com/media/DFg_2PVW0AEHN3p.jpg,1,golden_retriever,0.953442,True,Labrador_retriever,0.013834,True,redbone,0.007958,True
2061,889638837579907072,https://pbs.twimg.com/media/DFihzFfXsAYGDPR.jpg,1,French_bulldog,0.991650,True,boxer,0.002129,True,Staffordshire_bullterrier,0.001498,True
2062,889665388333682689,https://pbs.twimg.com/media/DFi579UWsAAatzw.jpg,1,Pembroke,0.966327,True,Cardigan,0.027356,True,basenji,0.004633,True
2063,889880896479866881,https://pbs.twimg.com/media/DFl99B1WsAITKsg.jpg,1,French_bulldog,0.377417,True,Labrador_retriever,0.151317,True,muzzle,0.082981,False
2064,890006608113172480,https://pbs.twimg.com/media/DFnwSY4WAAAMliS.jpg,1,Samoyed,0.957979,True,Pomeranian,0.013884,True,chow,0.008167,True
2065,890240255349198849,https://pbs.twimg.com/media/DFrEyVuW0AAO3t9.jpg,1,Pembroke,0.511319,True,Cardigan,0.451038,True,Chihuahua,0.029248,True
2066,890609185150312448,https://pbs.twimg.com/media/DFwUU__XcAEpyXI.jpg,1,Irish_terrier,0.487574,True,Irish_setter,0.193054,True,Chesapeake_Bay_retriever,0.118184,True
2067,890729181411237888,https://pbs.twimg.com/media/DFyBahAVwAAhUTd.jpg,2,Pomeranian,0.566142,True,Eskimo_dog,0.178406,True,Pembroke,0.076507,True
2068,890971913173991426,https://pbs.twimg.com/media/DF1eOmZXUAALUcq.jpg,1,Appenzeller,0.341703,True,Border_collie,0.199287,True,ice_lolly,0.193548,False
2069,891087950875897856,https://pbs.twimg.com/media/DF3HwyEWsAABqE6.jpg,1,Chesapeake_Bay_retriever,0.425595,True,Irish_terrier,0.116317,True,Indian_elephant,0.076902,False
2070,891327558926688256,https://pbs.twimg.com/media/DF6hr6BUMAAzZgT.jpg,2,basset,0.555712,True,English_springer,0.225770,True,German_short-haired_pointer,0.175219,True
2071,891689557279858688,https://pbs.twimg.com/media/DF_q7IAWsAEuuN8.jpg,1,paper_towel,0.170278,False,Labrador_retriever,0.168086,True,spatula,0.040836,False
2072,891815181378084864,https://pbs.twimg.com/media/DGBdLU1WsAANxJ9.jpg,1,Chihuahua,0.716012,True,malamute,0.078253,True,kelpie,0.031379,True
2073,892177421306343426,https://pbs.twimg.com/media/DGGmoV4XsAAUL6n.jpg,1,Chihuahua,0.323581,True,Pekinese,0.090647,True,papillon,0.068957,True
2074,892420643555336193,https://pbs.twimg.com/media/DGKD1-bXoAAIAUK.jpg,1,orange,0.097049,False,bagel,0.085851,False,banana,0.076110,False

##### `tweet_image_pred` quality issues

I noticed that the predictions in the columns `p1`, `p2`, and `p3` contain underscores between each of the words that make up the name of the predicted item or dog breed. This is may not have been a problem during the training of the machine learning algorithm but for the purposes of displaying these predictions in an easy to read form it would be best to remove the underscores.

##### Quality issues summary
 - Words combined using underscore in `p1`, `p2`, and `p3`

##### `tweet_image_pred` tidiness issues

The first, second, and third predictions along with the corresponding probabilities and success indicators can actually be combined in such a way as to reduce the total number of columns. If a column is added indicating whether the prediction is the first, second or third prediction, the remaining columns can be combined into the following columns:
 - `prediction`: the algorithim's prediction
 - `prob_confidence`: the algorithm's confidence in the prediction given as a probability
 - `success`: wether the prediction was correct

##### Tidiness issues summary
 - `p1_*`, `p2_*`, and `p3_*` columns spread out accross the dataframe

### Programmatic assessment

#### Dataframe structure

In [8]:
# Display the structure of the twitter archive dataframe
tweet_data_archived.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 17 columns):
tweet_id                      2356 non-null int64
in_reply_to_status_id         78 non-null float64
in_reply_to_user_id           78 non-null float64
timestamp                     2356 non-null object
source                        2356 non-null object
text                          2356 non-null object
retweeted_status_id           181 non-null float64
retweeted_status_user_id      181 non-null float64
retweeted_status_timestamp    181 non-null object
expanded_urls                 2297 non-null object
rating_numerator              2356 non-null int64
rating_denominator            2356 non-null int64
name                          2356 non-null object
doggo                         2356 non-null object
floofer                       2356 non-null object
pupper                        2356 non-null object
puppo                         2356 non-null object
dtypes: float64(4), int64(3), object(10)
memory usage: 313.0+ KB

##### `tweet_data_archived` quality issues 

Here it's obvious that the datatypes that pandas inferred for several of the columns are incorrect. Since IDs are used primarily to differentiate objects from each other, it would be better if all of the ID columns in this dataframe were converted to strings instead of integers or floats. That way I don't inadvertently perform any sort of mathematical operation on them. The `timestamp` and `retweeted_status_timestamp` columns have erroneously been given the object datatype instead of the datetime datatype.

It also would appear that there is missing data in the columns dealing with retweets and replies made by the WeRateDogs account (`in_reply*` and `retweeted_status*`). Here, the missing data is simply due to the nature of the Twitter platform. Any missing data in these columns is due to the fact that these tweets made by the WeRateDogs account are neither replies to another user's tweet or retweets. For these reasons I won't include the missing data as quality issues.

##### Quality issues summary
 - Erroneous datatypes (`*_id`, `*timestamp`)

In [9]:
# Display the structure of the supplementary data dataframe
tweet_data_extra.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2340 entries, 0 to 2339
Data columns (total 3 columns):
tweet_id          2340 non-null int64
retweet_count     2340 non-null int64
favorite_count    2340 non-null int64
dtypes: int64(3)
memory usage: 54.9 KB

##### `tweet_data_extra` quality issues

Comparing the number of entries in this dataframe to the number of entries in the `tweet_data_archived` dataframe, there would appear to be missing data. The most likely cause is that, at the time the data was extracted, some of the tweets in the archive have since been deleted. There is really nothing I can do to retrieve the data and I feel that using some other method of making up for the lost data isn't really necessary considering the amount of missing data is very small relative to the total number of tweets contained in the archive. Thus, I won't be including the missing data as a quality issue. Besides the missing data, the only other noticable issue is the incorrect datatype inferred for the `tweet_id` column.

##### Quality issues summary
 - Erroneous datatype for `tweet_id` column

In [10]:
# Display the structure of the image prediction results dataframe
tweet_image_pred.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2075 entries, 0 to 2074
Data columns (total 12 columns):
tweet_id    2075 non-null int64
jpg_url     2075 non-null object
img_num     2075 non-null int64
p1          2075 non-null object
p1_conf     2075 non-null float64
p1_dog      2075 non-null bool
p2          2075 non-null object
p2_conf     2075 non-null float64
p2_dog      2075 non-null bool
p3          2075 non-null object
p3_conf     2075 non-null float64
p3_dog      2075 non-null bool
dtypes: bool(3), float64(3), int64(2), object(4)
memory usage: 152.1+ KB

##### `tweet_image_pred` quality issues

All of the columns appear to be of the correct datatype. The only quality issue in this dataframe is that of missing data. If I compare the number of entries in this dataframe to the number of entries in the `tweet_data_archived` dataframe there is a disparity that indicates missing data. Due to the nature of training machine learning algorithms, it's likely that a sample of tweets from the archive was used rather than the entire archive. As with the missing data in the `tweet_data_extra` dataframe, there is really nothing I can do about the missing data. However, the sample appears to be large enough for patterns to emerge and for use in statistical analyses. For this reason I will not be including the missing data as a quality issue.

#### Duplicate data

Here I check for duplicate data. I'm mostly concerned with duplicate rows as well as duplicate tweet IDs.

In [11]:
# Check for duplicate rows and tweet ids in each dataframe
dataframes = [tweet_data_archived, tweet_data_extra, tweet_image_pred]
dataframe_names = ['tweet_data_archived', 'tweet_data_extra', 'tweet_image_pred']

for df_name, df in zip(dataframe_names, dataframes):
    dataframe_dup_rows = df.duplicated().sum()
    dataframe_dup_ids = df.duplicated('tweet_id').sum()
    
    print(df_name)
    print('-' * len(df_name) + '\n')
    print('Number of duplicate rows: {}'. format(dataframe_dup_rows))
    print('Number of duplicate tweet IDs: {}\n'.format(dataframe_dup_ids))

tweet_data_archived
-------------------

Number of duplicate rows: 0
Number of duplicate tweet IDs: 0

tweet_data_extra
----------------

Number of duplicate rows: 0
Number of duplicate tweet IDs: 0

tweet_image_pred
----------------

Number of duplicate rows: 0
Number of duplicate tweet IDs: 0

There don't appear to be any duplicated rows or tweet IDs in the `tweet_data_archived`, `tweet_data_extra`, or `tweet_image_pred` dataframes.

#### Invalid or inaccurate data

I then check for invalid or inaccurate data by first computing basic stats on the columns in each dataframe for which it makes sense to do so.

In [12]:
# Compute basic stats on rating_numerator and rating_denominator columns in tweet_data_archived
tweet_data_archived[['rating_numerator', 'rating_denominator']].describe()

       rating_numerator  rating_denominator
count       2356.000000         2356.000000
mean          13.126486           10.455433
std           45.876648            6.745237
min            0.000000            0.000000
25%           10.000000           10.000000
50%           11.000000           10.000000
75%           12.000000           10.000000
max         1776.000000          170.000000

##### `tweet_data_archived` quality issues

For the `tweet_data_archived` dataframe, it's quite apparent that there are some absurdly large values even for the WeRateDogs rating system. Before I examine this in greater detail the minimum value of 0 in the `rating_denominator` column must be pointed out. This is an invalid value according to the schema of the _**WeRateDogs**_ data.

In [13]:
# Get of tweet with rating_denominator value of 0
invalid_tweet_text = tweet_data_archived.loc[tweet_data_archived.rating_denominator == 0, 'text'].tolist()[0]
print(invalid_tweet_text)

@jonnysun @Lin_Manuel ok jomny I know you're excited but 960/00 isn't a valid rating, 13/10 is tho

The text of the tweet reveals that the _**WeRateDogs**_ account has provided an alternative rating that is both valid and in line with the rating system. Based on this tweet, there are likely to be more errors like this one where there are two ratings given in the tweet and the method used to extract the numerator and denominator of the ratings only does so for the first rating. In these cases determining the correct rating may not be as clear cut as the tweet shown here.

Continuing my exploration of the ratings columns, I'll take a random sample of entries from the `text` column to see whether or not this is a common occurrence.

In [14]:
# Get a random sample of 25 entries from the text column
text_sample = tweet_data_archived.sample(25, random_state=12).text
text_sample_size = text_sample.size - 1
for i, entry in enumerate(text_sample):
    print(entry)
    if i != text_sample_size:
        print('----------')

This is CeCe. She's patiently waiting for Santa. 10/10 https://t.co/ZJUypFFwvg
----------
This is Beemo. He's a Chubberflop mix. 12/10 would cross the world for https://t.co/kzMVMU8HBV
----------
Touching scene here. Really stirs up the emotions. The bond between father &amp; son. So beautiful. 10/10 for both pups https://t.co/AJWJHov5gx
----------
This is Dave. He's currently in a predicament. Doesn't seem to mind tho. 12/10 someone assist Dave https://t.co/nfprKAXqwu
----------
This is Toby. A cat got his tongue. 13/10 adorable af https://t.co/fHQrBKYSLC
----------
This is Buddy. He's photogenic af. Loves to sexily exit pond. Very striped. Comes with shield. 8/10 would pet well https://t.co/mYhQvAdV4f
----------
This is Bo. He's going to make me cry. 13/10 please get off the bus for him Carly https://t.co/U7FvBZo6Bq
----------
RT @dog_rates: Please only send in dogs. We only rate dogs, not seemingly heartbroken ewoks. Thank you... still 10/10 would console https:/‚Ä¶
----------
Here we see 33 dogs posing for a picture. All get 11/10 for superb cooperation https://t.co/TRAri5iHzd
----------
@docmisterio account started on 11/15/15
----------
Meet Abby. She's incredibly distracting. Just wants to help steer. Hazardous af. Still 12/10 would pet while driving https://t.co/gLbLiZtwsp
----------
Instead of the usual nightly dog rate, I'm sharing this story with you. Meeko is 13/10 and would like your help

https://t.co/Mj4j6QoIJk https://t.co/JdNE5oqYEV
----------
Meet Brody. He's a Downton Abbey Falsetto. Addicted to grating cheese. He says he can stop but we know he can't
9/10 https://t.co/vBeiQq6SaZ
----------
Sneaky dog here. Tuba player has no clue. 10/10 super sneaky https://t.co/jWVwSppaa2
----------
Say hello to Winifred. He is a Papyrus Hydrangea mix. Can tie shoes. 11/10 inspiring pup https://t.co/mwnBN6ZkPt
----------
There has clearly been a mistake. Pup did nothing wrong. 12/10 would help escape
https://t.co/Juid3nnLbC
----------
This is Ted. He's given up. 11/10 relatable af https://t.co/7muyOQXbGJ
----------
Meet Samson. He's absolute fluffy perfection. Easily 13/10, but he needs your help. Click the link to find out more

https://t.co/z82hCtwhpn https://t.co/KoWrMkbMbW
----------
This is Stuart. He's sporting his favorite fanny pack. Secretly filled with bones only. 13/10 puppared puppo #BarkWeek https://t.co/y70o6h3isq
----------
Meet Alejandro. He's an extremely seductive pup. 10/10 https://t.co/C7dPcCUNpF
----------
This is Dexter. He was reunited with his mom yesterday after she was stuck in Iran during the travel Bannon. 13/10 welcome home https://t.co/U50RlRw4is
----------
This is a Sagitariot Baklava mix. Loves her new hat. 11/10 radiant pup https://t.co/Bko5kFJYUU
----------
RT @dog_rates: Like father (doggo), like son (pupper). Both 12/10 https://t.co/pG2inLaOda
----------
RT @Jenna_Marbles: @dog_rates Thanks for rating my cermets 14/10 wow I'm so proud I watered them so much
----------
"AND IIIIIIIIIIIEIIIIIIIIIIIII WILL ALWAYS LOVE YOUUUUU" 11/10 https://t.co/rSNCEiTtfI

Judging from this sample, it looks like these extremely large numerator and denominator values are likely to be quite rare. I can verify this by getting frequency counts of all of the values contained in both the `rating_numerator` and `rating_denominator` columns.

In [15]:
# Get value counts of rating_numerator column
tweet_data_archived.rating_numerator.value_counts()

12      558
11      464
10      461
13      351
9       158
8       102
7        55
14       54
5        37
6        32
3        19
4        17
1         9
2         9
420       2
0         2
15        2
75        2
80        1
20        1
24        1
26        1
44        1
50        1
60        1
165       1
84        1
88        1
144       1
182       1
143       1
666       1
960       1
1776      1
17        1
27        1
45        1
99        1
121       1
204       1
Name: rating_numerator, dtype: int64

In [16]:
# Get value counts of rating denominator column
tweet_data_archived.rating_denominator.value_counts()

10     2333
11        3
50        3
80        2
20        2
2         1
16        1
40        1
70        1
15        1
90        1
110       1
120       1
130       1
150       1
170       1
7         1
0         1
Name: rating_denominator, dtype: int64

The value counts show that extremely large values in the `rating_numerator` and `rating_denominator` columns are indeed rare which supports what I observed from the sample. Looking at the sample again, there is an entry that simply states that the account _**docmisterio**_ was created on 11/15/15.

In [17]:
# Display ratings corresponding to entry containing date
text_sample_mask = text_sample.str.contains('account')
junk_tweet_id = text_sample[text_sample_mask].index[0]
tweet_data_archived.iloc[junk_tweet_id][['rating_numerator', 'rating_denominator']]

rating_numerator      11
rating_denominator    15
Name: 342, dtype: object

The ratings associated with this tweet seem to have come from the first two numbers of the date contained in the tweet. This is another indication that the method used to extract the ratings from the text of the tweets was rather basic and didn't take cases like the presence of dates or  multiple scores into account. It's likely that there are more errors like this in the `tweet_data_archived` dataframe.

In [18]:
# Display the entire row of tweet containing junk data
tweet_data_archived.iloc[junk_tweet_id]

tweet_id                                                     832088576586297345
in_reply_to_status_id                                               8.32088e+17
in_reply_to_user_id                                                 3.05821e+07
timestamp                                             2017-02-16 04:45:50 +0000
source                        <a href="http://twitter.com/download/iphone" r...
text                                   @docmisterio account started on 11/15/15
retweeted_status_id                                                         NaN
retweeted_status_user_id                                                    NaN
retweeted_status_timestamp                                                  NaN
expanded_urls                                                               NaN
rating_numerator                                                             11
rating_denominator                                                           15
name                                                                       None
doggo                                                                      None
floofer                                                                    None
pupper                                                                     None
puppo                                                                      None
Name: 342, dtype: object

Here, it's clear that this tweet doesn't actually contain any useful data and is essentially a "junk tweet" which can safely be removed from the `tweet_data_archived` dataframe along with other occurrences that I may encounter.

##### Quality issues summary
 - Some values in `rating_numerator` and `rating_denominator` taken from dates or, in the case of multiple scores, the wrong score
 - Single instance of 0 in `rating_denominator`
 - Some tweets don't contain useful data

In [19]:
# Compute basic stats on retweet_count and favorite_count columns in tweet_data_extra
tweet_data_extra[['retweet_count', 'favorite_count']].describe()

       retweet_count  favorite_count
count    2340.000000     2340.000000
mean     2966.939744     8021.265812
std      4980.602847    12382.653923
min         0.000000        0.000000
25%       596.750000     1390.000000
50%      1384.000000     3500.500000
75%      3461.500000     9851.250000
max     84496.000000   164963.000000

##### `tweet_data_extra` quality issues

Based on the basic statistics computed for the the `retweet_count` and `favorite_count` columns there don't appear to be any invalid values. Even the very large maximum values fit within the schema of the _**WeRateDogs**_ data as, at the time the tweets were made, the _**WeRateDogs**_ account had around 7.28 million followers and the upper limit for retweet and favorite counts for each tweet are likely the same as the one imposed for the integer datatype in the database used by Twitter which, for most databases, is quite large even for signed integers.

In [20]:
# Compute basic stats on the p*_conf columns of tweet_image_pred
tweet_image_pred[['img_num', 'p1_conf', 'p2_conf', 'p3_conf']].describe()

           img_num      p1_conf       p2_conf       p3_conf
count  2075.000000  2075.000000  2.075000e+03  2.075000e+03
mean      1.203855     0.594548  1.345886e-01  6.032417e-02
std       0.561875     0.271174  1.006657e-01  5.090593e-02
min       1.000000     0.044333  1.011300e-08  1.740170e-10
25%       1.000000     0.364412  5.388625e-02  1.622240e-02
50%       1.000000     0.588230  1.181810e-01  4.944380e-02
75%       1.000000     0.843855  1.955655e-01  9.180755e-02
max       4.000000     1.000000  4.880140e-01  2.734190e-01

##### `tweet_image_pred` quality issues

It would seem that there is no invalid data in any of the prediction confidence columns. All of the quartiles, the minimum, and the maximum values for each column fall squarely within the interval ${[0, 1]}$. This is in line with my expectations given that the values in these columns are probabilities. The `img_num` column appears to contain valid data as well as it can be seen from the minumum value that there are no negative numbers.

In [21]:
# Check for strange characters and explicit 'None', 'NA', or 'N/A' encodings in the predicitons columns
# of tweet_image_pred
for col in ['p1', 'p2', 'p3']:
    match_mask = tweet_image_pred[col].str.match('(.*[^\'\w-].*|n(?:/?a|one)$)', case=False)
    matches = tweet_image_pred[col].loc[match_mask]
    if matches.empty:
        print('There were no matches for column \'{}\''.format(col))
    else:
        print('There were matches for column \'{}\''.format(col))

There were no matches for column 'p1'
There were no matches for column 'p2'
There were no matches for column 'p3'

There doesn't appear to be any characters that aren't letters, underscores, hyphens, or apostrophes in any of the prediction columns. There also aren't any explicitly encoded 'None', 'NA', or 'N/A' strings like there were in the `name` column of the `tweet_data_archived` dataframe.

### Summary of quality and tidiness issues

Here I've listed all of the quality and tidiness issues I found in the `tweet_data_archived`, `tweet_data_extra`, and `tweet_image_pred` dataframes.

#### Quality

##### `tweet_data_archived`
 - HTML tags in `source`
 - `name` contains words that are clearly not names
 - Missing data in `name` encoded as the string 'None'
 - Erroneous datatypes (`*_id`, `*timestamp`)
 - Some values in `rating_numerator` and `rating_denominator` taken from dates or, in the case of multiple scores, the wrong score
 - Single instance of 0 in `rating_denominator`
 - Some tweets don't contain useful data
 
##### `tweet_data_extra`
 - Erroneous datatype for `tweet_id` column

##### `tweet_image_pred`
 - Erroneous datatypes (`tweet_id`)
 - Words combined using underscore in `p1`, `p2`, and `p3`

#### Tidiness

##### `tweet_data_archived`
 - One variable, the type of dog (e.g. `puppo`), spread over four columns

##### `tweet_data_extra`
 - `retweet_count` and `favorite_count` should be part of `tweet_data_archived`
 
##### `tweet_image_pred`
 - `p1_*`, `p2_*`, and `p3_*` columns spread out accross the dataframe

## Clean

After having assessed the data for quality and tidiness issues I can now clean the data. I'll start by creating copies of each dataframe

In [22]:
# Create copies of the tweet_data_archived, tweet_data_extra and tweet_image_pred dataframes
tweet_data_archived_clean = tweet_data_archived.copy()
tweet_data_extra_clean = tweet_data_extra.copy()
tweet_image_pred_clean = tweet_image_pred.copy()

### Junk data

#### `tweet_data_archived`: some tweets don't contain useful data

##### Define

Remove all rows that contain a string in the `text` column with the form `@user account started on MM/DD/YY` and reset the index of `tweet_data_archived`

##### Code

In [23]:
junk_data_mask = tweet_data_archived_clean.text.str.match('@.*account started.*\d{2}/\d{2}/\d{2}')
tweet_data_archived_clean = tweet_data_archived_clean[~junk_data_mask]
tweet_data_archived_clean.reset_index(drop=True, inplace=True)

##### Test

In [24]:
clean_data_mask = tweet_data_archived_clean.text.str.match('@.*account started.*\d{2}/\d{2}/\d{2}')
clean_data_matches = tweet_data_archived_clean.text.loc[clean_data_mask]
print('Number of rows matching the regex: {}'.format(clean_data_matches.sum()))

Number of rows matching the regex: 0

### Tidiness

#### `tweet_data_archived`: one variable, the type of dog (e.g. `puppo`), spread over four columns

##### Define 

Combine the `doggo`, `floofer`, `pupper`, and `puppo` columns into a single column called `dog_type` before dropping them. This column will then be converted into a categorical variable with each of the aforemetioned column names will represent a category along with an additional category `N/A` for observations where the type of dog hasn't been provided.

##### Code

In [25]:
# Replace None strings with NaNs
dog_type_cols = ['doggo', 'floofer', 'pupper', 'puppo']
tweet_data_archived_clean[dog_type_cols] = tweet_data_archived_clean[dog_type_cols].replace('None', np.nan)

# Combine columns and convert to categorical data
dog_type_col_data = [tweet_data_archived_clean[col] for col in dog_type_cols]
tweet_data_archived_clean['dog_type'] = functools.reduce(lambda col_main, col_add: col_main.combine_first(col_add), dog_type_col_data)
tweet_data_archived_clean['dog_type'] = pd.Categorical(tweet_data_archived_clean['dog_type'].fillna('N/A'))

# Drop columns
tweet_data_archived_clean = tweet_data_archived_clean.drop(columns=dog_type_cols)

##### Test

In [26]:
# Check columns and datatype
tweet_data_archived_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2355 entries, 0 to 2354
Data columns (total 14 columns):
tweet_id                      2355 non-null int64
in_reply_to_status_id         77 non-null float64
in_reply_to_user_id           77 non-null float64
timestamp                     2355 non-null object
source                        2355 non-null object
text                          2355 non-null object
retweeted_status_id           181 non-null float64
retweeted_status_user_id      181 non-null float64
retweeted_status_timestamp    181 non-null object
expanded_urls                 2297 non-null object
rating_numerator              2355 non-null int64
rating_denominator            2355 non-null int64
name                          2355 non-null object
dog_type                      2355 non-null category
dtypes: category(1), float64(4), int64(3), object(6)
memory usage: 241.8+ KB

In [27]:
# Check that dog_type column contains correct values
tweet_data_archived_clean.dog_type.value_counts()

N/A        1975
pupper      245
doggo        97
puppo        29
floofer       9
Name: dog_type, dtype: int64

#### `tweet_data_extra`: `retweet_count` and `favorite_count` should be part of `tweet_data_archived`

##### Define

Merge `tweet_data_archived` and `tweet_data_extra` on `tweet_id` column.

##### Code

In [28]:
tweet_data_archived_clean = pd.merge(tweet_data_archived_clean,
                                     tweet_data_extra_clean,
                                     how='left',
                                     on='tweet_id')

##### Test

In [29]:
tweet_data_archived_clean.head()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,dog_type,retweet_count,favorite_count
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,N/A,8426.0,38368.0
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,N/A,6208.0,32881.0
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,N/A,4107.0,24776.0
3,891689557279858688,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,N/A,8542.0,41710.0
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,N/A,9280.0,39884.0

#### `tweet_image_pred`: `p1_*`, `p2_*`, and `p3_*` columns spread out accross the dataframe

##### Define

Split the `tweet_image_pred` into three dataframes containing the `tweet_id`, `jpg_url`, and `img_num`columns and a set of prediction columns. Rename the prediction columns to the following:
 - `p*`: `prediction`
 - `p*_conf`: `prediction_confidence`
 - `p*_dog`: `prediction_success`
and add another column `prediction_number` containing an integer from 1 to 3 indicating whether the current prediction is the algorithm's first, second, or third prediction. Then combine the dataframes into a single dataframe and convert the `prediction_number` column into a categorical variable.

##### Code

In [30]:
# Get column names and split them into smaller lists for ease of manipulation
image_pred_cols = tweet_image_pred_clean.columns.tolist()
same_cols, p1_cols, p2_cols, p3_cols = [list(image_pred_cols[i:i+3]) for i
                                        in range(0, len(image_pred_cols), 3)]

# Rename the prediction columns and add prediction_number column
p_data_new = []
for i, p_cols in enumerate([p1_cols, p2_cols, p3_cols]):
    col_name1, col_name2, col_name3 = p_cols
    p_tmp = tweet_image_pred_clean[same_cols + p_cols]
    p_tmp = p_tmp.rename(columns={col_name1: 'prediction',
                                  col_name2: 'prediction_confidence',
                                  col_name3: 'prediction_success'})
    p_tmp['prediction_number'] = i + 1
    p_data_new.append(p_tmp)
    
# Combine the sub dataframes together and convert prediction_number column into categorical
# variable
tweet_image_pred_clean = pd.concat(p_data_new, ignore_index=True)
tweet_image_pred_clean['prediction_number'] = pd.Categorical(tweet_image_pred_clean['prediction_number'],
                                              ordered=True,
                                              categories=[3, 2, 1])

##### Test

In [31]:
# Check that column names and datatypes are correct
tweet_image_pred_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6225 entries, 0 to 6224
Data columns (total 7 columns):
tweet_id                 6225 non-null int64
jpg_url                  6225 non-null object
img_num                  6225 non-null int64
prediction               6225 non-null object
prediction_confidence    6225 non-null float64
prediction_success       6225 non-null bool
prediction_number        6225 non-null category
dtypes: bool(1), category(1), float64(1), int64(2), object(2)
memory usage: 255.5+ KB

In [32]:
# Review sample of data
tweet_image_pred_clean.sample(25)

,tweet_id,jpg_url,img_num,prediction,prediction_confidence,prediction_success,prediction_number
4289,668542336805281792,https://pbs.twimg.com/media/CUcjtL8WUAAAJoz.jpg,1,Staffordshire_bullterrier,0.212381,True,3
340,672248013293752320,https://pbs.twimg.com/media/CVROAIfWsAECA5t.jpg,1,Irish_terrier,0.413173,True,1
960,705786532653883392,https://pbs.twimg.com/media/Cct1G6vVAAI9ZjF.jpg,1,web_site,0.550294,False,1
761,688894073864884227,https://pbs.twimg.com/media/CY9xf1dUAAE4XLc.jpg,1,hog,0.669996,False,1
273,670832455012716544,https://pbs.twimg.com/media/CU9GjzrUkAAWPh4.jpg,1,malinois,0.317607,True,1
4322,669000397445533696,https://pbs.twimg.com/media/CUjETvDVAAI8LIy.jpg,1,basenji,0.000023,True,3
4349,669661792646373376,https://pbs.twimg.com/media/CUsd2TfWwAAmdjb.jpg,1,hamster,0.116374,False,3
4929,689905486972461056,https://pbs.twimg.com/media/CZMJYCRVAAE35Wk.jpg,4,chow,0.007165,True,3
1654,810254108431155201,https://pbs.twimg.com/media/Cz6Z0DgWIAAfdvp.jpg,1,Staffordshire_bullterrier,0.292556,True,1
5465,754874841593970688,https://pbs.twimg.com/media/CWza7kpWcAAdYLc.jpg,1,bath_towel,0.116806,False,3
1850,840268004936019968,https://pbs.twimg.com/media/C6k7SaEXUAg83_J.jpg,3,Chesapeake_Bay_retriever,0.863987,True,1
2848,689599056876867584,https://pbs.twimg.com/media/CZHyrvOXEAEin-A.jpg,1,cocker_spaniel,0.073101,True,2
1791,830583320585068544,https://pbs.twimg.com/media/C4bTH6nWMAAX_bJ.jpg,1,Labrador_retriever,0.908703,True,1
2799,686034024800862208,https://pbs.twimg.com/media/CYVIToGWQAAEZ_y.jpg,1,Irish_wolfhound,0.117608,True,2
4279,668286279830867968,https://pbs.twimg.com/media/CUY60usWoAAdBxx.jpg,1,Cardigan,0.113010,True,3
63,667165590075940865,https://pbs.twimg.com/media/CUI_kHBWsAAAef5.jpg,1,miniature_pinscher,0.140173,True,1
732,686730991906516992,https://pbs.twimg.com/media/CYfCMdFWAAA44YA.jpg,1,Tibetan_mastiff,0.338812,True,1
4538,673355879178194945,https://pbs.twimg.com/media/CVg9mTYWIAAu7J6.jpg,1,Appenzeller,0.100452,True,3
1632,805826884734976000,https://pbs.twimg.com/ext_tw_video_thumb/80582...,1,Siberian_husky,0.248926,True,1
1135,728751179681943552,https://pbs.twimg.com/media/Ch0LVPdW0AEdHgU.jpg,1,Saint_Bernard,0.482050,True,1
1957,865006731092295680,https://pbs.twimg.com/media/DAEfCFXUIAA1uqj.jpg,1,Pembroke,0.989882,True,1
173,669006782128353280,https://pbs.twimg.com/media/CUjKHs0WIAECWP3.jpg,1,Chihuahua,0.127178,True,1
3810,821765923262631936,https://pbs.twimg.com/media/C2d_vnHWEAE9phX.jpg,1,Labrador_retriever,0.008758,True,2
5050,699801817392291840,https://pbs.twimg.com/media/CbYyCMcWIAAHHjF.jpg,2,Labrador_retriever,0.023536,True,3
1962,866686824827068416,https://pbs.twimg.com/media/DAcXEWuXkAIBDGJ.jpg,1,flat-coated_retriever,0.514730,True,1

### Quality

#### `tweet_data_archived_clean`: erroneous datatypes (`*_id`, `*timestamp`)

##### Define

Convert each of the ID columns into strings and convert the timestamp columns into datetime.

##### Code

In [33]:
# Change id columns to string
id_col_names = [t_id for t_id in tweet_data_archived_clean.columns.tolist() if 'id' in t_id]
for id_col_name in id_col_names:
    tweet_data_archived_clean[id_col_name] = tweet_data_archived_clean[id_col_name].astype(str)

# Change timestamp columns to datetime
ts_col_names = [t_ts for t_ts in tweet_data_archived_clean.columns.tolist() if 'timestamp' in t_ts]
for ts_col_name in ts_col_names:
    tweet_data_archived_clean[ts_col_name] = pd.to_datetime(tweet_data_archived_clean[ts_col_name])

##### Test

In [34]:
tweet_data_archived_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2355 entries, 0 to 2354
Data columns (total 16 columns):
tweet_id                      2355 non-null object
in_reply_to_status_id         2355 non-null object
in_reply_to_user_id           2355 non-null object
timestamp                     2355 non-null datetime64[ns]
source                        2355 non-null object
text                          2355 non-null object
retweeted_status_id           2355 non-null object
retweeted_status_user_id      2355 non-null object
retweeted_status_timestamp    181 non-null datetime64[ns]
expanded_urls                 2297 non-null object
rating_numerator              2355 non-null int64
rating_denominator            2355 non-null int64
name                          2355 non-null object
dog_type                      2355 non-null category
retweet_count                 2339 non-null float64
favorite_count                2339 non-null float64
dtypes: category(1), datetime64[ns](2), float64(2), int64(2), object(9)
memory usage: 296.9+ KB

#### `tweet_data_archived`: `name` column contains words that are clearly not names

##### Define

Search for lowercase words in `name` column. In these rows extract the name of the dog by searching for the word 'name' and the string 'That is' in the text column. Replace the word with the names of the dogs. For the other rows without dog names set the word to NaN.

##### Code

In [35]:
# Get names by using a pattern with 'name'
new_names_n = (tweet_data_archived_clean.text
                  .str.extract('name(?:d| is) (?P<real_name>[A-Z].*?)(?:\s|\.)'))

# Get names by using a pattern with 'That is'
new_names_t = (tweet_data_archived_clean.text
                  .str.extract('That is (?P<real_name>.*?)\.'))
                  
# Replace all strings with lowercase words with NaN
names_nan_mask = tweet_data_archived_clean.name.str.contains('^[a-z]')
tweet_data_archived_clean.loc[names_nan_mask, 'name'] = np.nan
                  
# Combine new names columns with existing names column
tweet_data_archived_clean['name'] = functools.reduce(lambda c_main, c_add: c_main.combine_first(c_add),
                                                     [tweet_data_archived_clean['name'],
                                                      new_names_n['real_name'],
                                                      new_names_t['real_name']])

##### Test

In [36]:
tweet_data_archived_clean.loc[names_nan_mask, 'name']

22            NaN
56            NaN
118           NaN
169           NaN
193           NaN
335           NaN
368           NaN
541           NaN
648           NaN
681           NaN
758           NaN
772           NaN
800           NaN
818           NaN
821           NaN
851          Zoey
923           NaN
987           NaN
991        Quizno
992           NaN
1001          NaN
1003          NaN
1016          NaN
1024          NaN
1030          NaN
1039          NaN
1048          NaN
1062          NaN
1070          NaN
1094          NaN
          ...
2190        Leroi
2197          NaN
2203        Berta
2210          NaN
2211          NaN
2217         Chuk
2221          NaN
2234      Alfonso
2248       Cheryl
2254      Jessiga
2263        Klint
2272         Kohl
2286        Daryl
2303         Pepe
2310    Octaviath
2313         Johm
2325          NaN
2326          NaN
2332          NaN
2333          NaN
2334          NaN
2344          NaN
2345          NaN
2346          NaN
2347          NaN
2348          NaN
2349          NaN
2351          NaN
2352          NaN
2353          NaN
Name: name, Length: 109, dtype: object

#### `tweet_data_archived`: missing data in `name` encoded as the string 'None'

##### Define

Replace all instances of the string 'None' with NaN.

##### Code

In [37]:
tweet_data_archived_clean.name = tweet_data_archived_clean.name.replace('None', np.nan)

##### Test

In [38]:
tweet_data_archived_clean.name.loc[tweet_data_archived_clean.name == 'None'].sum()

0

#### `tweet_data_archived`: HTML tags in `source` column

##### Define

Extract the name of the source platform from the HTML tags and replace the original values of the `source` column with them.

##### Code

In [39]:
platform_names = (tweet_data_archived_clean.source.str.extract('>(.*?)<')
                  .rename(columns={0: 'platform_name'}))
tweet_data_archived_clean['source'] = platform_names

##### Test

In [40]:
tweet_data_archived_clean.source.value_counts()

Twitter for iPhone     2220
Vine - Make a Scene      91
Twitter Web Client       33
TweetDeck                11
Name: source, dtype: int64

#### `tweet_data_archived`: Some values in `rating_numerator` and `rating_denominator` taken from dates or, in the case of multiple scores, the wrong score. There is also a single instance of 0 in `rating_denominator`.

##### Define

Find tweets with dates and multiple scores. For the tweets with dates, look for scores surrounding the dates and extract them. For the tweets with multiple scores, extract the second one as this will also fix the issue with the 0 in the `rating_denominator` column.

##### Code

In [41]:
# Look for dates
date_chk_pattern = '\d{1,2}/\d{1,2}/\d{1,2}'
date_ext_pattern_front = '(\d{1,3})/(\d{1,3}).*?' + date_chk_pattern
date_ext_pattern_back = date_chk_pattern + '.*?(\d{1,3})/(\d{1,3})'

# Performing this check since the junk tweets removed previously may have been the only
# rows with a date in the text column
col_names = ['rating_numerator', 'rating_denominator']
new_col_names = {0: 'rating_numerator', 1: 'rating_denominator'}
if tweet_data_archived_clean.text.str.contains(date_chk_pattern).sum():
    # Extract scores
    front_scores = (tweet_data_archived_clean.text.str.extract(date_ext_pattern_front)
                    .rename(columns=new_col_names))
    back_scores = (tweet_data_archived_clean.text.str.extract(date_ext_pattern_back)
                   .rename(columns=new_col_names))
    
    # Get masks
    front_score_mask = front_score.rating_numerator.notnull()
    back_score_mask = back_score.rating_numerator.notnull()
    
    # Assign to tweet_data_archived
    tweet_data_archived_clean.loc[front_score_mask, col_names] = (front_scores
                                                                  .loc[front_scores_mask])
    tweet_data_archived_clean.loc[back_score_mask, col_names] = (back_scores
                                                                 .loc[back_scores_mask])
    print('Fixed issue of extracting dates instead of score.')
else:
    print('No dates.')

# Extract multiple scores
mult_score_ext = '\d{1,3}/\d{1,3}.*?(\d{1,3})/(\d{1,3})'

mult_scores = (tweet_data_archived_clean.text.str.extract(mult_score_ext)
               .rename(columns=new_col_names))
mult_scores_mask = mult_scores.rating_numerator.notnull()
tweet_data_archived_clean.loc[mult_scores_mask, col_names] = mult_scores.loc[mult_scores_mask]

print('\nFixed issue of extracting the wrong score.')

No dates.

Fixed issue of extracting the wrong score.

##### Test

In [42]:
# Testing only for multiple scores since there were no date matches
if tweet_data_archived_clean.loc[mult_scores_mask, col_names].equals(mult_scores
                                                                     .loc[mult_scores_mask]):
    print('Cleaning issue multiple scores successful')
else:
    print('Something went wrong')

Cleaning issue multiple scores successful

#### `tweet_image_pred`: erroneous datatype for `tweet_id` column

##### Define

Change datatype of `tweet_id` column to string.

##### Code

In [43]:
tweet_image_pred_clean['tweet_id'] = tweet_image_pred_clean['tweet_id'].astype(str)

##### Test

In [44]:
assert tweet_image_pred_clean.tweet_id.dtype == 'O', "'tweet_id' is not of type 'object'"

#### `tweet_image_pred`: words combined using underscore in `prediction` column

##### Define

Replace the underscore separating the words in each prediction string.

##### Code

In [45]:
tweet_image_pred_clean.prediction = tweet_image_pred_clean.prediction.str.replace('_', ' ')

##### Test

In [46]:
tweet_image_pred_clean.prediction.head(10)

0    Welsh springer spaniel
1                   redbone
2           German shepherd
3       Rhodesian ridgeback
4        miniature pinscher
5      Bernese mountain dog
6                box turtle
7                      chow
8             shopping cart
9          miniature poodle
Name: prediction, dtype: object

## Final cleaned datasets

After the cleaning step I'm left with two dataframes: `tweet_data_archived_clean` and `tweet_image_pred_clean`. The last thing that I'll do is store them in appropriately named dataframes and export them to the current working directory.

In [51]:
twitter_archive_master = tweet_data_archived_clean.copy()
image_predictions_master = tweet_image_pred_clean.copy()

out_files = ['twitter-archive-master.csv', 'image-predictions-master.csv']
data_frames = [twitter_archive_master, image_predictions_master]
for out_file, df in zip(out_files, data_frames):
    df.to_csv(out_file, index=False)

Note that the `NaN` values inserted into the dataframes using `np.nan` are represented as the string 'nan' in the resulting CSV files. While these 'nan' strings are correctly converted into `NaN` by pandas, I've performed an additional step using the external tool `sed` to replace all instances of 'nan' with ''. This is to avoid giving people the false impression that there are values where there shouldn't be and to remove any ambiguity with regards to how these 'nan' strings should be interpreted. If you're in a Unix-like environment and have `sed` installed, you can run the following command in a terminal

```
sed -i 's/,nan/,/g' <master_csv_file>
```

substituting `<master_csv_file>` with the name of the cleaned CSV files.